# Visual Studio
.vs/
*.user
*.suo
*.opendb
*.VC.db
*.sln.docstates

# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/

# Build artifacts
*.exe
*.ilk
*.pdb
*.exp
*.obj
*.pch
*.idb

# DX Library
Log.txt

# OS
.DS_Store
Thumbs.db